#content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.buffer {
    margin-bottom: 10px;
}

.calendar {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 50%;
}
  
.calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-nav > li {
    margin-left: 15px;
    margin-right: 15px;
}