<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <base href="{{ .Site.BaseURL }}">
        <title> {{ .Site.Title }} </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        {{ if isset .Site.Params "css" }}
        <link rel="stylesheet" href="{{ .Site.Params.css }}">
        {{ end }}
    </head>
    
    <body>
        <!-- nav menu -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}"> {{ .Site.Title }} </a>
            <!-- nav toggler for small screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- nav items -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {{ range .Site.Params.nav.item }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .link }}"> {{ .title }} </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </nav>